In [1]:
import pandas as pd
import numpy as np

# Analysis from the Profit Tracker Sheet

## First Sheet : Subscription Sheet

So the most important segment which on analysis we found about the profit tacker sheet is the Subscription Plan Data

The Subscription Plan has data about the different plans available for the students and teacher. 

The Information about Distribution of students in the plans is given. 

Also the information about the price of each plan (including and excluding gst) is given and based on that the total amount calculation information is given

The formula for calculation of total amount = No of Students*price of plan

In [7]:
df1 = pd.read_excel('SubscriptionPlan.xlsx')
df1

,Subscription Plan,Percentage of total students enrolled,Number of students enrolled,Price of each plan\n(excluding GST),Price of each plan\n(including GST),Total amount\n(excluding GST),Total amount\n(including GST)
0,% Student leads paying only for course fee,0.1,138,3000,3540,414000,488520
1,% Student leads paying only for monthly subscr...,0.1,138,1000,1180,138000,162840
2,% Student leads paying only for monthly subscr...,0.1,138,1500,1770,207000,244260
3,% Students leads paying for both course fee an...,0.1,138,4000,4720,552000,651360
4,% Student leads paying for both the monthly su...,0.1,138,2500,2950,345000,407100
5,% Student leads paying for both course fee and...,0.1,138,4500,5310,621000,732780
6,% Student leads paying for all the three packages,0.2,276,5500,6490,1518000,1791240
7,% Students leads not paying for anything,0.2,276,0,0,0,0
8,% Teachers paying us for our services,0.2,188,10000,11800,1880000,2218400

So we can create a Calculator part using this information as we have done in Salary Dept Wise Sheet

Also we can use a pie or sunburst kind of charts for showing the distribution of students in different courses

## 2nd Sheet : Teacher Student Distribution Summary Sheet

This sheet gives the information about the total number of students and teachers we have right now in Ozigen 

So this sheet can be used as a Summary Sheet to display the no of students, no of teachers, and average student per teacher

In [43]:
df2 = pd.read_excel('TeacherStudentDistribution.xlsx')
df2

,No.s of students,No. of teachers,Per teacher pay/month,Amount paid to teachers(INR),Net Profit \n(INR/Month),Profit Growth,Average students per teacher
0,1380,940,2543.457447,2390850,3018500,1.262522,1.468085

In [20]:
df3 = pd.read_excel('ProfitCalculation.xlsx')
df3.head()

,Gross Sales (Including GST),Net Sales (Excluding GST),Liability (GST),Net Sales (In Cr),Total TDS amount deducted (INR),Amount paid to teachers(INR),Total Amount paid to \nteacher/ month (In Cr),Net Profit
0,6696500,5675000,1021500,0.5675,265650,2390850,0.239085,3018500

In [26]:
df3['Profit Growth'] = df2['Profit Growth']
df3['Per teacher pay/month'] = df2['Per teacher pay/month']
df3['No. of teachers'] = df2['No. of teachers']
df3.head()

,Gross Sales (Including GST),Net Sales (Excluding GST),Liability (GST),Net Sales (In Cr),Total TDS amount deducted (INR),Amount paid to teachers(INR),Total Amount paid to \nteacher/ month (In Cr),Net Profit,Profit Growth,Per teacher pay/month,No. of teachers
0,6696500,5675000,1021500,0.5675,265650,2390850,0.239085,3018500,1.262522,2543.457447,940

In [28]:
columns = ['No. of teachers','Per teacher pay/month','Amount paid to teachers(INR)', 'Total Amount paid to \nteacher/ month (In Cr)','Gross Sales (Including GST)',	'Net Sales (Excluding GST)','Liability (GST)','Net Sales (In Cr)','Total TDS amount deducted (INR)','Net Profit','Profit Growth']
df3 = df3.reindex(columns,axis=1)
df3.head()

,No. of teachers,Per teacher pay/month,Amount paid to teachers(INR),Total Amount paid to \nteacher/ month (In Cr),Gross Sales (Including GST),Net Sales (Excluding GST),Liability (GST),Net Sales (In Cr),Total TDS amount deducted (INR),Net Profit,Profit Growth
0,940,2543.457447,2390850,0.239085,6696500,5675000,1021500,0.5675,NaN,3018500,1.262522

In [29]:
df3.to_excel('ProfitCalculation.xlsx')

In [44]:
df2 = df2[['No.s of students','No. of teachers','Average students per teacher']]
df2.head()

   No.s of students  No. of teachers  Average students per teacher
0              1380              940                      1.468085

In [45]:
df2.to_excel('TeacherStudentDistribution.xlsx')

Here we have done some preprocessing so that we can separate two sheets one for summary and another for profit Calculation which will be explained below

## 3rd Sheet : Profit Calculation Sheet

This profit targets the net and gross sales net profit 

So Ozigen has been paying only to the teachers
So we have column showing the no of teachers, amount paid to teachers and based on these columns we calculate the total amount paid to the teachers

Total Amount Paid to the teachers = no of teachers*amount paid to teacher


Now Ozigen is getting money from the subscription plans so the subscription plans total sales is the net sales and gross sales depending upon excluding and including GST


Liability = Net Sales*Tax Deduction

So now comes the main info of Profit Tracker Sheet 

It is Net Profit and Profit Growth

So the Net Profit is calculated as  :
Net Profit = Net Sales - Total Amount Paid to the Teachers - Total TDS Amount Deducted

And the Profit Growth Calculation goes as  Net Profit/Total Amount Paid to the Teachers

In [33]:
df3 = pd.read_excel('ProfitCalculation.xlsx')

In [34]:
df3.head()

,No. of teachers,Per teacher pay/month,Amount paid to teachers(INR),Total Amount paid to \nteacher/ month (In Cr),Gross Sales (Including GST),Net Sales (Excluding GST),TDS deduction %,Tax Deduction %,Liability (GST),Net Sales (In Cr),Total TDS amount deducted (INR),Net Profit,Profit Growth
0,940,2543.457447,2390850,0.239085,6696500,5675000,0.1,0.18,1021500,0.5675,265650,3018500,1.262522

## 4th Sheet : Sales In Different Currency

In [37]:
df4 = pd.read_excel('Sales_in_Different_Currency.xlsx')
df4.head()

                                 Dollar price in INR          73.48
0          Total Net Profit collected/ month\n (USD)     $41,079.21
1  Total Net Profit collected/ month \n (USD - Mi...          $0.04
2  Total Net Profit collected/ year  \n(USD - Mil...          $0.49
3                                   AED price in INR          20.01
4          Total Net Profit collected/ month \n(AED)  AED150,849.58

In [38]:
df4 = df4.T
df4.head()

,0,1,2,3,4,5,6
Dollar price in INR,Total Net Profit collected/ month\n (USD),Total Net Profit collected/ month \n (USD - Mi...,Total Net Profit collected/ year \n(USD - Mil...,AED price in INR,Total Net Profit collected/ month \n(AED),Total Net Profit collected/ month \n(AED - Mi...,Total Net Profit collected/ year \n(AED - Mil...
73.48,"$41,079.21",$0.04,$0.49,20.01,"AED150,849.58",AED0.15,AED1.81

In [39]:
df4.to_excel('Sales_in_Different_Currency.xlsx')

In [41]:
df3 = pd.read_excel('Sales_in_Different_Currency.xlsx')
df3

,Dollar price in INR,Total Net Profit collected/ month\n (USD),Total Net Profit collected/ month \n (USD - Million),Total Net Profit collected/ year \n(USD - Million),AED price in INR,Total Net Profit collected/ month \n(AED),Total Net Profit collected/ month \n(AED - Million),Total Net Profit collected/ year \n(AED - Million)
0,73.48,"$41,079.21",$0.04,$0.49,20.01,"AED150,849.58",AED0.15,AED1.81

So in this sheet there are currency conversion values this is just a ference sheet made by us

Refrence because as we know the price of dollar is not constant so we will need to use a method which fetches the current dollar rate and converts the currency values as per the current rate.